body {
    background: $default-background-color;
    color: $default-text-color;
    font-family: $main-font-family;
    font-size: $font-size-base;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}
h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    width: 100%;
    display: inline-block;
}

p, ul.lista {
    margin-top: $margin-top-paragraph;
    margin-bottom: $margin-bottom-paragraph;
    line-height: $line-size;
}

ul.lista li {
    margin-left: $margin-left-lists;
    line-height: $line-size;
}

ul.lista li::before {
    content: '•';
    margin-right: $margin-internal-bullet-list;
}

.attentionText {
    color: $attention-color;
}

.centeredText {
    text-align: center;
}

.smallText {
    font-size: $font-size-small;
}

.largeText {
    font-size: $font-size-large;
}

a {
    color: $attention-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}