.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.navigate {
    cursor: pointer; 
}

/*@media (max-width: 1260px) {
	.container {
		padding: 0 10px;
	}
}*/



@mixin text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

//common utilities

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pull-right {
    float: right;
}

.pull-leftt {
    float: left;
}

//responsive utilities
@mixin if-is-large-screen {
    @media all and (min-width: #{$large-screen-width}) {
        @content;
    }
}

@mixin if-is-medium-screen {
    @media all and (min-width: #{$medium-screen-width}) {
        @content;
    }
}

@mixin if-is-small-screen {
    @media all and (max-width: #{$small-screen-width}) {
        @content;
    }
} 

@mixin container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
    padding: $default-padding;
    @include if-is-medium-screen {
        padding: #{2 * $default-padding};
    }
}

.container {
    @include container;
}

