$icon-gap: 3px;

$intro-line-height: 1.5em;
$intro-font-size: 1.2em;
$max-lines-intro-mobile: 2;
$max-lines-intro-tablet: 4;
$max-lines-intro-desktop: 6;

@mixin article-social-data {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .author {
            display: inline-block;
            width: 80%;
            margin-top:$default-margin;
            .portrait {
                width: 32px;
                margin: 0 $default-margin 0 0;
                border-radius: 50%;
                float: left;
            }

            .nombre {
                font-size: $font-size-small;
                margin: $icon-gap $default-margin 0;
            }
            .date {
                color: $color-gray;
                font-size: $font-size-very-small;
                margin: 0 $default-margin;
            }

        }

        .socials {
            display: inline-block;
            width: 20%;
            color: $color-gray;
            text-align: right;

            .favorite-btn:hover,
            .comments-btn:hover {
              background-color: lighten($attention-color, 40%);
            }

            .num-likes, .num-comments {
                margin-left: $icon-gap;
                display:inline-block;
                min-width: #{$font-size-base*1.5};
            }

        }
    }
    
}

.articles {
    @include top-gap-header;

    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &::after {
            content: " ";
            display: inline-block;
            width: 80%;
            margin: #{$default-margin * 2} 10%;
            border-bottom: 1px solid $light-gray;
        }

        &:last-child::after {
            border-bottom: 0px solid transparent;
        }

        .ilustration {
            width: 100%;
            height: 100%;

            @include if-is-medium-screen {
                width: 58%;
            }

            @include if-is-large-screen {
                width: 38%;
            }
        }

        .info {
            display: flex;
            flex-direction: column;

            @include if-is-medium-screen {
                width: 38%;
            }

            @include if-is-large-screen {
                width: 58%;
            }

            @include article-social-data;

            .intro {
                line-height: $intro-line-height;
                font-size: $intro-font-size;
                overflow: hidden;
                position: relative;
                margin-right: -1em; //evitamos problemas con última palabra
                padding-right: 1em;

                max-height: #{ $max-lines-intro-mobile * $intro-line-height};

                @include if-is-medium-screen {
                    max-height: #{ $max-lines-intro-tablet * $intro-line-height};
                }

            }

            .sigue {
                font-size: $font-size-small;
            }
        }

    }
}